# Q1. 
We have a multi-class classification problem for predicting quality of wine on the basis of its attributes. The data is loaded in a dataframe “df” <br>
The quality column currently has values 1 to 10, but we want to substitute this by a binary classification problem. You want to keep the threshold for classification to 5, such that if the class is greater than 5, the output should be 1, else output should be 0.

In [ ]:
# Answer 1
import numpy as np
import pandas as pd
Binary_Quality = df[quality].values
Binary_Quality = np.array([1 if i>5 else 0 for i in Binary_Quality])

# Q2. 
Explain this codes:<br>
A) new_df = pd.concat([df]*30, index = False) 
<br>
B) new_df = pd.concat([df]*30, ignore_index=True) 
<br>
C) new_df = pd.concat([df]*30, ignore_index=False)

In [3]:
# Creating dataframe
import pandas as pd 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
df = pd.DataFrame(data) 
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

## 2(A)

In [4]:
new_df1 = pd.concat([df]*30, index = False)
new_df1

TypeError: concat() got an unexpected keyword argument 'index'


<b>The code snippet given in 2(A) section is gives error because concat() doesn't have index parameter in it

## 2(B)

In [7]:
new_df2 = pd.concat([df]*30, ignore_index=True)
new_df2

      Name  Age
0      Tom   20
1     nick   21
2    krish   19
3     jack   18
4      Tom   20
..     ...  ...
115   jack   18
116    Tom   20
117   nick   21
118  krish   19
119   jack   18

[120 rows x 2 columns]

<b> The code snippet in 2(B) concatinates given dataframe 30 times and creates new dataframe "new_df2" in which the index is ignored and it is increamented by unity for every new row

## 2(C)

In [8]:
new_df3 = pd.concat([df]*30, ignore_index=False)
new_df3

     Name  Age
0     Tom   20
1    nick   21
2   krish   19
3    jack   18
0     Tom   20
..    ...  ...
3    jack   18
0     Tom   20
1    nick   21
2   krish   19
3    jack   18

[120 rows x 2 columns]

<b> The code snippet in 2(C) concatinates given dataframe 30 times and creates new dataframe "new_df2" in which the index is same as which was in "df"

# Q3. 
You write a code for preprocessing data, and you notice it is taking a lot of time. To amend this, you put a bookmark in the code so that you come to know how much time is spent on each code line. To perform this task, which of the following actions you would take? 

(A)You put bookmark as time.sleep() so that you would know how much the code has “slept” literally 

(B)You put bookmark as time.time() and check how much time elapses in each code line 

(C)You put bookmark as datetime.timedelta(), so that you would find out differences of execution times 

(D)You copy whole code in an Ipython / Jupyter notebook, with each code line as a separate block and write magic function %%timeit in each block 
<br>
<br>
<br>

<b> Answer 3<br>
    A,B and D are correct