In [9]:
class computer:
    # the init function act as constructor in python 
    # we pass self because while calling method of class the object itself is passed to the method
    def __init__(self,cpu,ram,):
        self.cpu = cpu
        self.ram = ram
        #print("in init")
    def config(self):
        print(self.cpu,self.ram,"ram")

comp1 = computer('i5',8)
comp1.config()

in init
i5 8 ram

In [29]:
class car:
    wheels = 4
    def __init__(self):
        self.mil = 10
        self.com = 'BMW'
    def pri(self):
        '''
        this is a instance method which uses instance variable of class
        '''
        print(self.mil,self.com)
    @classmethod
    def wheel(cls):
        '''
        this is a classmethod which uses class variable when changed all the instance method that uses this this 
        values also changes
        '''
        return cls.wheels
    @staticmethod
    def info(a):
        '''
        this method is static it doesnt have to do anything with instance and class 
        '''
        print("this is class car ...",a)
        
c1 = car()

print(c1.mil,c1.com,c1.wheels)
print(car.wheel())
c1.pri()
car.info('a')

10 BMW 4
4
10 BMW
this is class car ... a

In [11]:
a=100
b=90
def outerFun(msg):
    a = 1
    b = 2
    def inner():
        print(f"Hello {msg} a={a} b={b}")
    return inner

outer = outerFun("Deepak")

In [13]:
outer()

Hello Deepak a=1 b=2

In [20]:
def my_decorator(func):
    def wrapper():
        print("first line")
        func()
        print("second line")
    return wrapper
@my_decorator
def myFunction():
    print("my function")
myFunction()

#my_decorator is short of myFunction = my_decorator(myFunction)

first line
my function
second line

In [22]:
import pandas as pd

In [24]:
data = [1,2,3,4,2]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    2
dtype: int64

In [26]:
data = {
    "Name": ["Deepak", "Raj", "Champa"],
    "Age": [10,15,25],
    "Second Name": ["Kumar", "Kapoor", "Devi"]
}
df = pd.DataFrame(data)
print(df)

     Name  Age Second Name
0  Deepak   10       Kumar
1     Raj   15      Kapoor
2  Champa   25        Devi

In [28]:
df = pd.read_csv("name.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'name.csv'

In [32]:
df.head()

     Name  Age Second Name
0  Deepak   10       Kumar
1     Raj   15      Kapoor
2  Champa   25        Devi

In [38]:
df.columns

Index(['Name', 'Age', 'Second Name'], dtype='object')

In [40]:
df.describe()

             Age
count   3.000000
mean   16.666667
std     7.637626
min    10.000000
25%    12.500000
50%    15.000000
75%    20.000000
max    25.000000

In [42]:
df['Age']

0    10
1    15
2    25
Name: Age, dtype: int64

In [46]:
df.iloc[0]

Name           Deepak
Age                10
Second Name     Kumar
Name: 0, dtype: object

In [48]:
df.fillna(0)

     Name  Age Second Name
0  Deepak   10       Kumar
1     Raj   15      Kapoor
2  Champa   25        Devi

In [50]:
df.isnull()

    Name    Age  Second Name
0  False  False        False
1  False  False        False
2  False  False        False